*.xccheckout
*.xcbkptlist


adaptive-arp-rt/App/*.realm

adaptive-arp-rt/DerivedData/
adaptive-arp-rt/adaptive-arp-rt.xcodeproj/project.xcworkspace/xcuserdata/
adaptive-arp-rt/adaptive-arp-rt.xcodeproj/xcuserdata/

adaptive-arp-impl/DerivedData/
adaptive-arp-impl/adaptive-arp-impl.xcodeproj/xcuserdata/
adaptive-arp-impl/adaptive-arp-impl.xcodeproj/project.xcworkspace/xcuserdata/

