*.xccheckout
*.xcbkptlist
*.swift.new


adaptive-arp-rt/.idea/
adaptive-arp-rt/App/*.realm

adaptive-arp-rt/build/
adaptive-arp-rt/DerivedData/
adaptive-arp-rt/adaptive-arp-rt.xcodeproj/project.xcworkspace/xcuserdata/
adaptive-arp-rt/adaptive-arp-rt.xcodeproj/xcuserdata/

adaptive-arp-rt/App.Source/www/.idea/
