<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdaptiveArpRtOSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AdaptiveArpRtiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>adaptive-arp-rt.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>trash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E722D501A02827D00004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E722D5B1A02827D00004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E722D711A02829D00004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E722D7B1A02829D00004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E722D8E1A0282D700004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E722DA51A0282D700004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E722DB71A0282F000004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E722DCB1A0282F000004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E722DDD1A02830700004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E722DF41A02830700004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E722E061A02838400004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E722E1D1A02838400004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E722E2F1A02839700004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E722E421A02839800004247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ED4D18D1A02BAE700CC854E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ED4D1A11A02BAE700CC854E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EDB4E4D1A028C89008A2C4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EDB4E631A028C89008A2C4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EDB4E751A028C99008A2C4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EDB4E881A028C9A008A2C4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
